<div id="details-column" class="col-xl-9 col-lg-8">
    <div class="section">
        <div class="user_info_box">
            <!-- User -->
            <div class="user_box">
                <div class="image">
                    <img src="assets/images/header/user.png" class="image-fit" alt="img" />
                </div>
                <div class="user_text">
                    <h6 class="name mb-0">
                        <%= user.username %>
                    </h6>
                </div>
            </div>
            <!-- User Details -->
            <div class="col-md-12">
                <div class="form-group">
                    <ul class="address_list">
                        <% for(let i=0;i<addresses.length;i++){ %>
                            <li class="d-flex align-items-center justify-content-between">

                                <div class="custom-control form-check me-sm-2 mb-2">
                                    <span class="title">Delivers To</span>
                                    <label class="custom-control-label" for="addressone">
                                        <span class="top">
                                            <i class="fal fa-briefcase"></i>
                                            <span class="fw-500 thm-color-two">
                                                <%= addresses[i].addressTitle %>
                                            </span>
                                        </span>
                                        <span class="mb-0 p">
                                            <%= addresses[i].addressLine1 %>
                                        </span>
                                        <span class="mb-0 p">
                                            <%= addresses[i].addressLine2 %>
                                        </span>
                                    </label>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="#" type="button"
                                        class="edit-buttons thm-btn btn-rectangle thm-bg-color-one lh-normal btn-small mr-2"
                                        data-bs-toggle="modal" data-bs-target="#editAddressModal"
                                        data-address-id="<%= addresses[i]._id %>" id="edit-btn">
                                        <i class="fal fa-edit"></i>
                                        Edit Address
                                    </a>
                                    <a href="#" type="button"
                                        class="thm-btn btn-rectangle thm-bg-color-danger lh-normal btn-small mt-2"
                                        data-address-id="<%= addresses[i]._id %>" id="delete-address-btn">
                                        <div class="d-flex justify-content-between">
                                            <i class="fal fa-trash-alt"></i>
                                            Delete Address
                                        </div>
                                    </a>
                                </div>

                            </li>
                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <a href="/addAddress" type="button" class="thm-btn btn-rectangle thm-bg-color-one lh-normal btn-small"
                    id="edit_profile_btn">
                    Add Address
                </a>
            </div>
            </form>
        </div>
    </div>
</div>