<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wuud - Furniture Store Website HTML5 Template | Order Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="http://mywebsite.com/image.jpg">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="http://mywebsite.com/image.jpg">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <!-- Css -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (popper.js and bootstrap.js are required for dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/plugins/slick.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">

    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        @media (max-width: 380px) {
            .order_list_block .price {
                margin-left: 0;
                display: flex;
                justify-content: center;
            }
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <img src="assets/images/preloader.svg" alt="preloader">
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Search Form -->
                    <div class="search-form">
                        <form>
                            <!-- Location -->
                            <div class="location">
                                <label>Your Location</label>
                                <select>
                                    <option selected>Select A Location</option>
                                    <option value="New Delhi">New Delhi</option>
                                    <option value="Mumbai">Mumbai</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Chennai">Chennai</option>
                                </select>
                            </div>
                            <!-- Location -->
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" name="#" class="form-control" placeholder="Search for products..."
                                    autocomplete="off" required>
                                <div class="input-group-append input-group-text">
                                    <button type="submit">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Search -->
                        </form>
                    </div>
                    <!-- Search Form -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>
                            <li>
                                <a href="wishlist.html">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                            <li class="cart">
                                <a href="/cartPage">
                                    <span class="cart_value">0</span>
                                    <i class="far fa-shopping-cart"></i>
                                    <div class="cart_text">
                                        My Cart
                                        <!-- <span class="amount">$150.00</span> -->
                                    </div>
                                </a>
                            </li>
                            <li class="user">
                                <% if (user) { %>
                                    <a href="/userDetails">
                                        <img src="assets/images/header/user.png" class="image-fit" alt="img">
                                        <span>
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/userDetails">My Account</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>New User</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/logIn">Login</a>
                                            </li>
                                            <li>
                                                <a href="/signUp">SignUp</a>
                                            </li>
                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <!-- Category Nav Start -->

    <!-- Category Nav End -->
    <!-- Section Start -->

    <div class="order_list_box sidebar">
        <div class="row justify-content-center">
            <!-- Item -->
            <div class="col-12 d-flex" style="margin-left: 100px; margin-bottom: 50px;">
                <div class="col-2">
                    <div
                        style="font-weight: 900;margin-top: 3px; margin-top: 18px;;display: flex; justify-content: center; align-items: center;color: black;">
                        <h4>
                            Wallet Balance :
                        </h4>
                    </div>
                </div>
                <div class="col-2">
                    <div class="order_list_block"
                        style="font-weight: 900;margin-top: 3px; display: flex; justify-content: center; align-items: center;color: black; background-color: #f9e7d1;">
                        <div>
                            <div class="price" style="font-size: 24px;">
                                <%= userWallet.walletBalance %>
                            </div>
                            <div class="price" style="font-size: 24px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-10">
                <div class="section-header">
                    <h3 class="title">Transaction History</h3>
                </div>
                <% for(let i=0;i<userWallet.walletTransaction.length;i++){ %>
                    <div class="col-12">

                        <div class="order_info">
                            <p class="mb-0 d-flex justify-content-center">Transaction Amount</p>
                            <div class="price">
                                <%= userWallet.walletTransaction[i].transactionAmount%>
                            </div>
                        </div>
                        <div class="order_info">
                            <p class="mb-0 d-flex justify-content-center">Transaction Date</p>
                            <div class="price">
                                <%= userWallet.walletTransaction[i].transactionDate.toLocaleDateString('en-US', {
                                    year: 'numeric' , month: '2-digit' , day: '2-digit' })%>
                            </div>
                        </div>
                        <div class="order_info" style="margin-bottom: 32px;">
                            <p class="mb-0 d-flex justify-content-center">Transaction Type</p>
                            <div class="name" id="date"
                                style="font-weight: 900;margin-top: 3px; display: flex; justify-content: center;">
                                <%= userWallet.walletTransaction[i].transactionType%>
                            </div>
                            <!-- <p class="mb-0">Your Item has been delivered</p> -->
                        </div>

                    </div>
                    <% } %>
            </div>
            <div class="col-10">
                <div class="section-header">
                    <h3 class="title">Products Ordered</h3>
                </div>
                <% for(let i=0;i<orders.length;i++){ %>
                    <div class="col-12">

                        <div class="order_list_block">
                            <div class="image_info_box d-flex flex-column justify-content-center">
                                <a href="#">
                                    <img src="assets/uploadimages/uploads/<%=orders[i].productDetails.productImage[0]%>"
                                        class="image-fit-contain" alt="img" style="margin-right: 0">
                                </a>
                                <div class="info">
                                    <h6 class="mb-0 name"><a href="order-details.html">
                                            <%= orders[i].productDetails.productName%>
                                        </a></h6>
                                </div>
                            </div>
                            <div class="order_info">
                                <p class="mb-0 d-flex justify-content-center"">Price</p>
                                                                    <div class=" price">$<%=
                                        orders[i].productDetails.productPrice%>
                            </div>
                        </div>
                        <div class="order_info">
                            <p class="mb-0 d-flex justify-content-center">Quantity</p>
                            <div class="price">
                                <%= orders[i].cartData.productQuantity%>
                            </div>
                        </div>
                        <div class="order_info">
                            <p class="mb-0 d-flex justify-content-center">Status</p>
                            <div class="price">
                                <%= orders[i].cartData.productStatus %>
                            </div>
                        </div>
                        <div class="order_info" style="margin-bottom: 32px;">
                            <p class="mb-0 d-flex justify-content-center">Date</p>
                            <div class="name" id="date"
                                style="font-weight: 900;margin-top: 3px; display: flex; justify-content: center;">
                                <%= orders[i].orderDate.toLocaleDateString('en-US', { year: 'numeric' , month: '2-digit'
                                    , day: '2-digit' }) %>
                            </div>
                            <!-- <p class="mb-0">Your Item has been delivered</p> -->
                        </div>
                        <div class="order_info">
                            <p class="mb-0 d-flex justify-content-center">Total</p>
                            <div class="price">$<%= orders[i].cartData.totalCostPerProduct%>
                            </div>
                        </div>
                        <div class="order_info">
                            <% if (orders[i].cartData.productStatus==="Delivered" ) { %>
                                <button type="button" id="singleProReturn"
                                    class="thm-btn btn-rectangle thm-bg-color-one bg-success">Return
                                    Order</button>
                                <% } else if (orders[i].cartData.productStatus==="Cancelled" ) { %>
                                    <div class="order_info d-flex justify-content-center">
                                        <div class="price" style="color: red; margin-top: 39px;margin-right: 60px;">
                                            Cancelled</div>
                                    </div>
                                    <% } else { %>
                                        <button type="button" id="singleProCancel"
                                            data-pid="<%=orders[i].cartData._id%>" data-rid="<%=orders[i]._id%>"
                                            class="thm-btn btn-rectangle thm-bg-color-one bg-danger">Cancel
                                            Order</button>
                                        <% } %>
                        </div>

                    </div>
                    <% } %>

            </div>
        </div>
    </div>
    <!-- Section End -->

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    The item has been successfully deleted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="success-btn" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Button to trigger the modal -->

    <!-- Confirmation Modal -->
    <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="cancelOrderModalLabel">Confirm Order Cancellation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p>Are you sure you want to cancel this order?</p>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="dismissConfirm"
                        data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="cancelConfirm">Confirm Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Footer Start -->
    <footer class="footer section-padding border-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-sm-4">
                    <div class="ft_widget border-sm-0 pl-sm-0">
                        <h6 class="ft_title">Find a Store<br> Shop Gift Cards</h6>
                        <p class="mb-2">Follow Us:</p>
                        <ul class="ft_social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                    <div class="ft_widget">
                        <h6 class="ft_title">Help Center</h6>
                        <ul class="ft_menu">
                            <li>
                                <a href="payment.html">Payments</a>
                            </li>
                            <li>
                                <a href="#">Shipping</a>
                            </li>
                            <li>
                                <a href="#">Product Returns</a>
                            </li>
                            <li>
                                <a href="faqs.html">FAQ's</a>
                            </li>
                            <li>
                                <a href="checkout.html">Checkout</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                    <div class="ft_widget">
                        <h6 class="ft_title">Useful Links</h6>
                        <ul class="ft_menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="privacy.html">Policy</a>
                            </li>
                            <li>
                                <a href="order-list.html">My Orders</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-sm-8">
                    <div class="ft_widget">
                        <h6 class="ft_title">Contact Us</h6>
                        <p class="mb-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>
                        <ul class="ft_contact">
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt"></i>
                                    14 Prospect Row, Bury St. Edmunds
                                </a>
                            </li>
                            <li>
                                <a href="tel:0002583745351">
                                    <i class="fas fa-phone"></i>
                                    000 2583 745 351
                                </a>
                            </li>
                            <li>
                                <a href="mailto:example@example.com">
                                    <i class="fas fa-envelope"></i>
                                    example@example.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-sm-4">
                    <div class="ft_widget">
                        <h6 class="ft_title">Categories</h6>
                        <ul class="ft_menu">
                            <li>
                                <a href="shop.html">Chair</a>
                            </li>
                            <li>
                                <a href="shop.html">Sofa</a>
                            </li>
                            <li>
                                <a href="shop.html">Dining Table</a>
                            </li>
                            <li>
                                <a href="shop.html">Table Lamp</a>
                            </li>
                            <li>
                                <a href="shop.html">Desk</a>
                            </li>
                            <li>
                                <a href="shop.html">cabinets</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>



    </script>
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>

</html>