<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FurnitureHub - Online Furniture Mart</title>
    <meta name="description"
        content="Explore FurnitureHub, your ultimate destination for stylish and affordable furniture. Shop now and get exclusive deals!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="../../../../mywebsite.com/image.html">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="../../../../mywebsite.com/image.html">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav2.png">
    <!-- Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="/assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/plugins/slick.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        div .logoa {
            height: 150px;
            width: 136px;
            padding: 0 0 0 0;
        }

        .inner {
            height: 19vh;
        }

        .image-fit {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 19vh;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .h-100 {
            height: 100%;
            /* Occupy full height of parent container */
            display: flex;
            flex-direction: column;
        }

        .navbar {
            flex-grow: 1;
            /* Allow the navbar to grow and occupy available space */
        }

        .navbar-nav {
            flex-direction: column;
            /* Align nav items vertically */
        }

        #user .iconx {
            background-color: #604220;
            color: #ffffff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            margin: 0 auto;
            /* Center the icon horizontally */
            display: flex;
            align-items: center;
            justify-content: center;
            transition:
                background-color 0.7s ease,
                color 0.7s ease,
                transform 0.7s ease,
                width 0.7s ease,
                height 0.7s ease,
                font-size 0.7s ease;
        }

        #user:hover .iconx {
            background-color: #C7A379;
            color: #ffffff;
            transform: scale(1.6);
            /* No margin change to prevent layout shift */
        }

        .header .topbar .inner {
            height: 100px;
        }
    </style>
</head>

<body>

    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>
                            <li class="user" style="margin-right: 20px;">
                                <% if (user) { %>
                                    <a href="/userDetails">
                                        <img src="/assets/images/header/user.png" class="image-fit" alt="img">
                                        <span>
                                            Admin
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/adimDashBoard">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/adminLogout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="/assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>Login as Admin</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/adminLogin">Admin Login</a>
                                            </li>
                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <!-- Category Nav Start -->
    <section class="order-list">
        <div class="container-fluid" style="padding: 0;">
            <div id="component" class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="h-100">
                        <nav class="navbar navbar-expand-lg navbar-dark justify-content-around"
                            style="background-color: #604220;align-items: baseline;">
                            <div class="container-fluid d-flex justify-content-center">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav w-100 d-flex flex-column">
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/adimDashBoard">Dashboard</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-tachometer-alt"></i>
                                                </div>

                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <!-- <a class="nav-link" href="/admin/userManagement/usersList">User
                                                    Management</a> -->
                                                <!-- <a href="javascript:void(0)" class="nav-link"
                                                    onclick="navigateTo('/admin/userManagement/usersList', this)">
                                                    User Management </a> -->
                                                <a class="nav-link" href="/admin/userManagement/usersList">User
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-users"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <!-- <a class="nav-link" href="/admin/productManagement/productList">Product
                                                    Management</a> -->
                                                <!-- <a href="javascript:void(0)" class="nav-link"
                                                    onclick="navigateTo('/admin/productManagement/productList', this)">
                                                    Product Management </a> -->
                                                <a class="nav-link" href="/admin/productManagement/productList">Product
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-box-open"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link"
                                                    href="/admin/categoryManagement/categoryList">Category
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-list"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/orderManagement/orderList">Order
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">

                                                <a class="nav-link" href="/admin/couponManagement/coupons">Coupon
                                                    Management</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-ticket"></i>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <div class="d-flex" id="user">
                                                <a class="nav-link" href="/admin/salesReport">Sales Report</a>
                                                <div class="iconx d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-chart-line"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <section class="section-padding pb-0">
                        <!-- Search Form -->
                        <div style="display: flex;justify-content: center;" class="search-form">
                            <div class="search-form ml-3" style="width: 300px;">
                                <form onsubmit="redirectToSearch(event)"
                                    class="d-flex align-items-center position-relative">

                                    <!-- Search Input -->
                                    <input type="text" name="searchQuery" id="searchInput" class="form-control me-2"
                                        placeholder="Search for user by User name..." autocomplete="off"
                                        oninput="toggleClearBtn()">

                                    <!-- Clear (×) Icon -->
                                    <span id="clearIcon" onclick="clearSearch()"
                                        style="display: none; position: absolute; right: 70px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 18px; color: #888;">
                                        &times;
                                    </span>

                                    <!-- Search Button -->
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </form>
                            </div>

                        </div>
                        <!-- Search Form -->
                        <div class="container-fluid">
                            <div class="section-header">
                                <h3 class="title">Users List</h3>
                            </div>
                            <% if (!userDet || userDet.length===0) { %>
                                <div class="col-lg-6 mx-auto text-center p-5 mt-4">
                                    <!-- User search icon with subtle gradient -->
                                    <svg width="96" height="96" viewBox="0 0 24 24" fill="none" class="mb-4">
                                        <linearGradient id="user-gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                            <stop offset="0%" stop-color="#f8f9fa" />
                                            <stop offset="100%" stop-color="#e9ecef" />
                                        </linearGradient>
                                        <circle cx="12" cy="6" r="4" fill="url(#user-gradient)" stroke="#adb5bd"
                                            stroke-width="1" />
                                        <path
                                            d="M19 17.5c0 2.485 0 4.5-7 4.5S5 19.985 5 17.5C5 15.015 8.582 13 12 13s7 2.015 7 4.5z"
                                            fill="url(#user-gradient)" stroke="#adb5bd" stroke-width="1" />
                                        <path d="M21 21l-2.5-2.5" fill="none" stroke="#6c757d" stroke-width="1.5" />
                                    </svg>

                                    <h5 class="text-dark mb-3 fw-semibold">No Users Found</h5>
                                    <p class="text-muted mb-4">We couldn't find any users matching . Try a
                                        different username.</p>

                                    <div class="d-flex justify-content-center gap-3 mt-1">

                                        <button onclick="clearSearch()"
                                            class="thm-btn btn-rectangle btn-outline-secondary lh-normal btn-small">
                                            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16"
                                                class="me-2">
                                                <path
                                                    d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                                <path
                                                    d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                            </svg>
                                            Clear Search
                                        </button>
                                    </div>
                                </div>
                                <% } else { %>
                                    <!-- Your users listing code goes here -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="table-responsive cart_table" id="user-table">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>User Name</th>
                                                            <th>Email</th>
                                                            <th>Phone Number</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(let i=0;i<userDet.length;i++){ %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= userDet[i].username %>
                                                                </th>
                                                                <td>
                                                                    <%= userDet[i].email %>
                                                                </td>
                                                                <td>
                                                                    <%= userDet[i].phonenumber %>
                                                                </td>
                                                                <% if(userDet[i].isBlocked){ %>
                                                                    <td>
                                                                        <div
                                                                            class="d-flex justify-content-center align-items-center">
                                                                            <button id="unblock<%i%>"
                                                                                onclick="fnBlock('<%=userDet[i]._id %>')"
                                                                                type="button" class="btn btn-success"><i
                                                                                    class="fas fa-unlock"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                    <% }else{ %>
                                                                        <td>
                                                                            <div
                                                                                class="d-flex justify-content-center align-items-center">
                                                                                <button id="block<%i%>"
                                                                                    onclick="fnUnBlock('<%=userDet[i]._id %>')"
                                                                                    type="button"
                                                                                    class="btn btn-danger"><i
                                                                                        class="fas fa-ban"></i>
                                                                                </button>
                                                                            </div>
                                                                        </td>
                                                                        <% } %>

                                                            </tr>
                                                            <% } %>
                                                    </tbody>
                                                </table>
                                                <!-- Section Start -->

                                                <div class="row">
                                                    <div class="col-12">
                                                        <nav id="pagination">
                                                            <ul class="pagination">
                                                                <li
                                                                    class="page-item <%= page === 1 ? 'disabled' : '' %>">
                                                                    <button class="page-link"
                                                                        onclick="loadPage('<%= page - 1 %>')"
                                                                        aria-label="Previous">
                                                                        <span aria-hidden="true">&laquo;</span>
                                                                    </button>
                                                                </li>
                                                                <% for(let i=1; i <=pages; i++) { %>
                                                                    <li
                                                                        class="page-item <%= page === i ? 'active' : '' %>">
                                                                        <button class="page-link"
                                                                            onclick="loadPage('<%= i %>')">
                                                                            <%= i %>
                                                                        </button>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (page < pages) { %>
                                                                            <li class="page-item">
                                                                                <button class="page-link"
                                                                                    onclick="loadPage('<%= page + 1 %>')"
                                                                                    aria-label="Next">
                                                                                    <span
                                                                                        aria-hidden="true">&raquo;</span>
                                                                                </button>
                                                                            </li>
                                                                            <% } %>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                                <!-- Section End -->
                                            </div>
                                        </div>

                                    </div>
                                    <% } %>
                        </div>
                    </section>


                </div>
            </div>
        </div>
    </section>


    <!-- Category Nav End -->

    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function redirectToSearch(event) {
            event.preventDefault();
            const searchQuery = document.querySelector('input[name="searchQuery"]').value;
            console.log("searchQuery...:::))) ", searchQuery);

            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('bySearch', searchQuery);
            const newUrl = `${location.pathname}?${urlParams.toString()}`;

            window.location.href = newUrl

            // $('#products-table').load(`${newUrl} #products-table`);

        }

        function clearSearch() {
            const input = document.querySelector('input[name="searchQuery"]');
            input.value = '';
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.delete('bySearch');

            // Optionally, update the browser URL without reloading:
            const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
            window.location.href = newUrl
            toggleClearBtn();
        }

        function toggleClearBtn() {
            const input = document.querySelector('input[name="searchQuery"]');
            const clearIcon = document.getElementById('clearIcon');
            const urlParams = new URLSearchParams(window.location.search);

            if (input.value.trim()) {
                clearIcon.style.display = 'block';
            } else {
                clearIcon.style.display = 'none';

                // Remove 'bySearch' from URL
                urlParams.delete('bySearch');
                const newUrl = `${location.pathname}?${urlParams.toString()}`;
                window.history.replaceState({}, '', newUrl);
            }
        }

        window.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const searchQuery = urlParams.get('bySearch');
            if (searchQuery) {
                document.querySelector('input[name="searchQuery"]').value = searchQuery;
            }
        });
        // function navigateTo(path, element) {
        //     $('#component').load(`${path} #component`, function (response, status, xhr) {
        //         if (status === "error") {
        //             $('#component').html('<p class="text-danger">Failed to load content.</p>');
        //             return;
        //         }
        //         document.querySelectorAll('li .nav-link').forEach(link => {
        //             link.style.backgroundColor = '';
        //             link.style.color = '';
        //             link.style.fontWeight = '';
        //             link.parentElement.classList.remove('active'); // remove from all <li>
        //         });

        //         // Highlight the clicked element
        //         element.style.backgroundColor = '#f0f0f0';
        //         element.style.color = '#0d6efd';
        //         element.style.fontWeight = 'bold';

        //         // Add "active" class to parent <li>
        //         element.parentElement.classList.add('active');

        //         // Only initialize if the form exists (means we're on userDetails)
        //         if (document.querySelector('#my-form')) {
        //             initializeUserDetails();
        //         }
        //     });

        //     history.pushState(null, '', path);
        // }


        function loadPage(pageNumber) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('page', pageNumber); // set new page number

            const newUrl = `${window.location.pathname}?${urlParams.toString()}`;

            window.location.href = newUrl; // 🔄 Triggers full page refresh

        }

        async function fnBlock(userId) {
            const confirmResult = await Swal.fire({
                title: "Are you sure?",
                text: "You can revert this action later.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, proceed",
                cancelButtonText: "Cancel",
                reverseButtons: true,
            });

            if (confirmResult.isConfirmed) {
                let response = await fetch(`/admin/userManagement/blockUser?id=${userId}`, {
                    method: 'GET',
                })
                let result = await response.json()
                if (result.success) {
                    await Swal.fire({
                        icon: "success",
                        title: "User unblocked",
                    });
                }

                // Get current page number from the URL
                const urlParams = new URLSearchParams(window.location.search);
                const currentPage = urlParams.get('page') || 1;

                // Reload the user table with the current page
                $('#user-table').load(`/admin/userManagement/usersList?page=${currentPage} #user-table`);
            }

        }

        async function fnUnBlock(userId) {
            const confirmResult = await Swal.fire({
                title: "Are you sure?",
                text: "You can revert this action later.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, proceed",
                cancelButtonText: "Cancel",
                reverseButtons: true,
            });

            if (confirmResult.isConfirmed) {
                let response = await fetch(`/admin/userManagement/unBlockUser?id=${userId}`, {
                    method: 'GET',
                })
                let result = await response.json()
                if (result.success) {
                    await Swal.fire({
                        icon: "success",
                        title: "User blocked",
                        confirmButtonText: "OK",
                    });
                }

                // Get current page number from the URL
                const urlParams = new URLSearchParams(window.location.search);
                const currentPage = urlParams.get('page') || 1;

                // Reload the user table with the current page
                $('#user-table').load(`/admin/userManagement/usersList?page=${currentPage} #user-table`);
            }
        }
    </script>
</body>

</html>