<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wuud - Furniture Store Website HTML5 Template | Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="../../../../mywebsite.com/image.html">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="../../../../mywebsite.com/image.html">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <!-- Css -->
    <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/plugins/slick.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">

    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        div .logoa {
            height: 150px;
            width: 136px;
            padding: 0 0 0 0;
        }

        .inner {
            height: 19vh;
        }

        .image-fit {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 19vh;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .h-100 {
            height: 100%;
            /* Occupy full height of parent container */
            display: flex;
            flex-direction: column;
        }

        .navbar {
            flex-grow: 1;
            /* Allow the navbar to grow and occupy available space */
        }

        .navbar-nav {
            flex-direction: column;
            /* Align nav items vertically */
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <img src="assets/images/preloader.svg" alt="preloader">
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Search Form -->
                    <div class="search-form">
                        <form>
                            <!-- Location -->

                            <!-- Location -->
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" name="#" class="form-control" placeholder="Search for products..."
                                    autocomplete="off" required>
                                <div class="input-group-append input-group-text">
                                    <button type="submit">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Search -->
                        </form>
                    </div>
                    <!-- Search Form -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>

                            <li class="user">
                                <% if (user) { %>
                                    <a href="#">
                                        <img src="assets/images/header/user.png" class="image-fit" alt="img">
                                        <div class="cart_text">
                                            ADMIN
                                        </div>
                                        <span>
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">

                                        <li>
                                            <a href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>New User</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/logIn">Login</a>
                                            </li>
                                            <li>
                                                <a href="/signUp">SignUp</a>
                                            </li>
                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <!-- Category Nav Start -->
    <section class="order-list">
        <div class="container-fluid" style="padding: 0;">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="h-100">
                        <nav class="navbar navbar-expand-lg navbar-dark justify-content-around"
                            style="background-color: #604220;">
                            <div class="container-fluid d-flex justify-content-around">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                                    <ul class="navbar-nav w-100 d-flex flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/adimDashBoard">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/usersList">User Management</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/productList">Product Management</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/categoryList">Category Management</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/orderList">Order Management</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Sales Report</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Banner Management</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <section class="section-padding pb-0">
                        <div class="container-fluid">
                            <div class="section-header">
                                <h3 class="title">Users List</h3>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive cart_table">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>User Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i=0;i<userDet.length;i++){ %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= userDet[i].username %>
                                                        </th>
                                                        <td>
                                                            <%= userDet[i].email %>
                                                        </td>
                                                        <td>
                                                            <%= userDet[i].phonenumber %>
                                                        </td>
                                                        <% if(userDet[i].isBlocked){ %>
                                                            <td><button id="unblock<%i%>"
                                                                    onclick="fnBlock('<%=userDet[i]._id %>')"
                                                                    type="button"
                                                                    class="btn btn-success">Unblock</button> </td>
                                                            <% }else{ %>
                                                                <td><button id="block<%i%>"
                                                                        onclick="fnUnBlock('<%=userDet[i]._id %>')"
                                                                        type="button"
                                                                        class="btn btn-danger">Block</button> </td>
                                                                <% } %>

                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>


    <!-- Category Nav End -->
    <!-- Section Start -->

    <div class="row">
        <div class="col-12">

            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page=<%= page - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <% for(let i=1; i <=pages; i++){ %>
                        <li class="page-item <%= page == i? 'active' : '' %>"><a class="page-link"
                                href="?page=<%= i %>">
                                <%= i %>
                            </a></li>
                        <!-- <% if(i < pages){ %> -->
                        <!-- <li class="page-item disabled"><a class="page-link"
                                                                                            href="#">&hellip;</a></li>
                                                                                    <% } %> -->
                        <% } %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= page + 1 %>" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Section End -->
    <!-- Section Start -->
    <!-- Section End -->

    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        async function fnBlock(userId) {
            let response = await fetch(`/blockUser?id=${userId}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.success) {
                await Swal.fire({
                    icon: "success",
                    title: "User unblocked",
                });
            }
            window.location.reload();
        }

        async function fnUnBlock(userId) {
            let response = await fetch(`/unBlockUser?id=${userId}`, {
                method: 'GET',
            })
            let result = await response.json()
            if (result.success) {
                await Swal.fire({
                    icon: "error",
                    title: "User blocked",
                    confirmButtonText: "OK",
                });
            }
            window.location.reload();
        }
    </script>
</body>

</html>